@import "../../App.scss";
$timberwolf: rgba(215, 208, 200, 1);
$bone: rgba(200, 198, 175, 1);
$morning-blue: rgba(149, 167, 141, 1);
$pine-tree: rgba(42, 44, 36, 1);
$bittersweet: rgba(248, 118, 102, 1);
/* SCSS RGB */
$primary-color: rgba(149, 167, 141, 1);
$dark-color: rgba(42, 44, 36, 1);
$light-color: rgba(200, 198, 175, 1);
$danger-color: rgb(199, 119, 109);;
$success-color: rgb(188, 224, 165);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.main-container {
    @extend .container;
    min-height: 80vh;
    // border: solid black;
    display: flex;
    flex-direction: column;
    background-color: $bone;
    color: white;
}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img{
        max-width: 40%;
    }
}
.game-container {
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}
.slots-container {
    @extend .p-2;

    .slot-container {
        @extend .card;
        @extend .large;
    }
    .danger{
        background: $danger-color;
    }
    .success{
        background-color: $success-color;
    }
    .neutral{
        background-color: $dark-color;
    }
}
.all-characters {
    @extend .grid-3;
    margin: 0 auto;

    .character-card {
        @extend .card;

        i {
            @extend .large;
        }
    }
}
.character-card {
    @extend .card;

    i {
        @extend .x-large;
    }
}
.button {
    @extend .p;
    text-align: center;
}
.footer{
    @extend .p;
    width: 100%;
    display: block;
    background-color: black;
    color: white;
    padding-left: 1%; 
}